<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/animations.css">
    <title>Animations</title>
</head>

<body>
    <nav>
        <!-- Links look like urls so that can set the ids in javascript to navigate -->
        <a id="/">Home</a>
        <a id="/digital-arts">Digital Arts</a>
    </nav>
    <div id="section-wrap">
        <main>
            <section id="section">
                <div id="animations" class="display-window">
                    <h1>Animations Go Here</h1>
                </div>
            </section>
        </main>
    </div>

    <script src="/javascripts/get-set-navigate.js"></script>
    <script src="/javascripts/click-coordinates.js"></script>
</body>

</html>