<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/swup-animations.css">
<div id="swup" class="transition-fade">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div id="swup">
        <link rel="stylesheet" href="/css/digital-arts.css">
    </div>
    
    <title>Digital Arts</title>
</head>

<!-- Also going to load out main here to go to other pages -->
<body>
    
    <main>
        
        <h1>Hellooooooo</h1>
        <a href="/">Home</a>
    </main>

    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script src="/javascripts/swup.js"></script>
</body>

</div>

</html>