<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/digital-arts.css">
    <title>Digital Arts</title>
</head>

<body>
    <div id="section-wrap">
        <main>
            <section id="section">
                <nav>
                    <!-- Links look like urls so that can set the ids in javascript to navigate -->
                    <a id="/">Home</a>
                    <a id="/animations">Animations</a>
                </nav>
                <div id="digital-arts" class="display-window">
                    <h1>Digital Arts Go Here</h1>
                </div>
            </section>
        </main>
    </div>

    <script src="/javascripts/get-set-navigate.js"></script>
    <script src="/javascripts/click-coordinates.js"></script>
</body>

</html>