<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Nicky Bothma</title>
</head>

<body>
    <main>
        <div id="bubbles-guiding-line"></div>
        <section id="hero">
            <div id="name" class="hero-containers">
                <h1>Nicky Bothma</h1>
            </div>
            <div id="image" class="hero-containers">

            </div>
        </section>


        <!-- Bubbles are nested here in order to get stacking context correct -->
        <section id="skills">
            <div id="digital-arts-short" class="skill-section">
                <div class="nav-bubbles digital-arts-bubble">
                    <span>Art</span>
                </div>
                <a id="/digital-arts">Digital Arts</a>
            </div>

            <div id="models-short" class="skill-section">
                <div class="nav-bubbles models-bubble">
                    <span>3D</span>
                    <!-- <a id="/3D Models">3D Models</a> -->
                </div>
            </div>

            <div id="animations-short" class="skill-section">
                <div class="nav-bubbles animations-bubble">
                    <span>Anim</span>
                </div>
                <a id="/animations">Animations</a>
            </div>
        </section>

        <section id="meet-the-artist" class="about"></section>
    </main>

    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/click-coordinates.js"></script>
</body>

</html>