* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.highlighted {
    color: blueviolet;
}

nav {
    z-index: 10;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 2rem;
    max-width: 120rem;
}

nav a {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
}

body {
    background-color: #7fe5fa;
    
}

.fade-content {
    opacity: 0 !important;
}

#section-wrap {
    filter: drop-shadow(2px 2px 20px black);
}

main {
    opacity: 1;
    transition: opacity 400ms ease;
    background-color: #92fdff;
    background-image: url('/images/cutsey.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 350px 350px;
    animation-name: on-load;
    animation-duration: 1200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

#section {
    height: 100vh;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#digital-arts {
    position: relative;
    opacity: 1;
    transition: opacity 400ms ease;
    width: 70rem;
    max-width: 120rem;
    height: 90%;
    border-radius: 5rem;
    box-shadow: 30px 30px 1px black;
    max-width: 120rem;
    background-color: rgb(177, 125, 224);
    border: 5px solid rgb(138, 43, 226);
    overflow: hidden;
    white-space: nowrap;
}
#scroll-left,
#scroll-right {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    border-radius: 50%;
}

.artwork {
    position: relative;
    border: 15px groove  rgb(53, 53, 53);
    /* top: 50%; */
    /* transform: translate(0, -50%); */
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    background: rgb(226, 43, 144);
}

#home {
    padding-top: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    transition: color 200ms ease;
}
#home:hover {
    color: blueviolet;
}

@keyframes on-load {
    from {
        clip-path: circle(0 at var(--clickedX) var(--clickedY));
    }

    to {
        clip-path: circle(150% at var(--clickedX) var(--clickedY));
    }
}