/* Swup page transitions */
/* SWUP ADDS CLASSES TO THE HTML TAG OF OUR DOCUMENT EVERY TIME IT ANIMATES SOMETHING IN OR OUT */
/* Have to select class we made */
/* This is what our content will look like AFTER it fades in */
.transition-fade {
    /* opacity 1 whenever page fades in */
    opacity: 1;
    transition: 500ms;
}

/* Adding transition to page when it is animating */
/* when html is animating, do this */
/* this is what we want our content to look like when it leaves the page */
html.is-animating .transition-fade {
    opacity: 0;
}

